body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:433px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:60px;
  width:263px;
  height:433px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:208px;
  width:259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:59px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:152px;
  width:93px;
  height:59px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:59px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:152px;
  width:93px;
  height:59px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:59px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:152px;
  width:93px;
  height:59px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:59px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:152px;
  width:93px;
  height:59px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:37px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:152px;
  width:93px;
  height:37px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:37px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:152px;
  width:93px;
  height:37px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:37px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:152px;
  width:93px;
  height:37px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:59px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:152px;
  width:93px;
  height:59px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:89px;
  word-wrap:break-word;
}
